@page "/personalnews"
<div class="text-black">Try your luck with guid:</div>
<input value="@_input" @onchange="onChange" @onkeyup="onKeyUp" />
@if (_personalnews == null)
{
 <div>Nothing here for this id...</div>
}
else
{
 @foreach (var news in _personalnews)
 {
  <h4>@news.Title</h4>
  <div>@news.Body</div>
  <a href="@news.Link">More...</a>
  <div class="bg-secondary">@news.CreationTime.ToString("dd.MM.yyyy hh:mm")</div>
 }
}
